.container {
    background-color: #9B457A;
    margin-top: 90px;
    text-align: center;

    h2 {
        font-size: 48px;
        color: white;
        padding-top: 80px;
        margin-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .description {
        font-size: 18px;
        color: #E7E7E7;
        max-width: 700px;
        margin: auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    .btnSubmit {
        width: 143px;
        height: 48px;
        background: #9B457A;
        border-radius: 6px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        text-align: center;
        letter-spacing: -0.01em;
        color: #FFFFFF;
        position: absolute;
        top: 67px;
        cursor: pointer;
        transform: translate(145%, 3%);

        @media(max-width : 750px) {
            transform: none;
            right: 29px;
        }
    }

    .newsLettersEmail {
        display: flex;
        justify-content: center;
        position: relative;

        @media(max-width : 750px) {
            padding: 0 20px;
        }

    }

    .input {
        margin-top: 60px;
        padding: 22px 20px;
        border-radius: 10px;
        width: 382px;
        outline: none;
        margin-bottom: 80px;
        padding-right: 172px;

        &::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #CECECE;
            opacity: 1;
            /* Firefox */
        }

        &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: #CECECE;
        }

        &::-ms-input-placeholder {
            /* Microsoft Edge */
            color: #CECECE;
        }

        @media (max-width: 750px) {
            width: 100%;
        }

    }

    .error {
        color: white;
        margin-top: -72px;
        padding-bottom:80px ;
    }

}