.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;

    @media (max-width:1400px) {
        width: 100%;
    }

    @media (max-width:1000px) {
        flex-direction: column;
    }

    .description {
        width: 50%;
        padding: 0 20px;

        @media (max-width:1000px) {
            width: 90%;
            text-align: center;
        }
        @media (max-width:768px) {
            width: 75%;
            text-align: center;
        }
    }
    h2 {
        color: #183282;
        font-size: 48px;
        margin-bottom: 40px;

        @media (max-width:1000px) {
            font-size: 28px;
        }
    }

    p {
        color: #4E545F;
        line-height: 30px;
        font-weight: 400;
        font-size: 20px;
        max-width: 600px;

        @media (max-width:1000px) {
            max-width: 100%;
            font-size: 18px;
        }
        
    }

    img {
        width: 45%;
        margin-bottom: -10%;

        @media (max-width:1000px) {
            width: 60%;
            margin-left: 10%;
        }
    }
    
    .hero__downloadApp{
        margin-bottom: 50px;
        @media (max-width: 638px) {
            margin-bottom: 0px;
        }
    }
    .hero__downloadApp img:nth-child(1) {
        max-width: 180px;
        margin-right: 50px;
       @media (max-width: 638px) {
           margin-top: 40px;
           margin-bottom: 0px;
       }
    }

    .hero__downloadApp img:nth-child(2) {
        width: 180px;
    }
}